/* 
************************
* Basic styles
************************  
*/

/* Variable */
:root{
    /* Text colors */
    --full-black-text: #000000;
    --full-white-text: #FFFFFF;
    --nearby-white: #F5F4FA;
    --gray-black-text: #212121;
    --gray-text: #757575;

    /* Universal blue color */
    --blue-color: #2196F3;

    /* Backgrounds colors */
    --black-color-background: #2F303A;
    --gray-background: #F5F4FA;
    
    /* Line color */
    --ligth-gray-line: #ECECEC;

    /* Border line color */
    --gray-border-line: #EEEEEE;
    --gray-company-color: #AFB1B8;

    /* Angle radius */
    --radius: 4px;
    --full-round: 50%;

    /* Card gap`s distance */
    --card-gap: 30px;

    /* Number of cards in a row */
    --card-numbers: 3;
}

/* Standard features */
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--gray-text);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Delete all points near the list of items */
.list{    
    list-style: none;    
}

/* Remove from visible space */
.none-visualisation {
    visibility: hidden;
}

/* Remove standart decoration for links */
.link{
    text-decoration: none;
    color: currentColor;
}

/* Global reset */
h1, 
h2,
h3,
h4,
h5,
h6,
ul,
p,
a,
address{
    padding: 0;
    margin: 0;
}

/* Conteiner for elements */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Hide element */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Images parameters */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Features and calculation of "flex-containers" contents */
.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.card-item{
    flex-basis: calc((100% - (var(--card-numbers) - 1) * var(--card-gap)) / var(--card-numbers));
}

/* 
************************
* Class styles
************************  
*/

/* Navigation panel */

.header{
    border-bottom: 1px solid var(--gray-border-line);

    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-panel{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-panel{
    display: flex;
    align-items: center;
    gap: 93px;
}

/* Logo */
.logo{   
    padding-top: 24px;
    padding-bottom: 25px;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--blue-color);
    line-height: 1.19;
    text-decoration: none;
}

.black-color-logo{
    color: var(--full-black-text);
}

.black-color-logo:hover,
.black-color-logo:focus{
    color: var(--blue-color);
}

/* Header - navigator */

.site-nav{
    display: flex;    
    gap: 50px;

    color: var(--gray-black-text); 
}

.site-nav .link,
.contact .link{
    padding-top: 32px;
    padding-bottom: 32px;
}


.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus{
    color: var(--blue-color);
}

/* Header - contacts */
.contact{
    display: flex;
    gap: 50px;
    align-self: center;

    margin-left: auto;   
}

.contact-link{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.mail-icon,
.telephone-icon{  
    fill: currentColor;    
}

/* Footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--black-color-background);
}

.footer-list{
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.white-text-logo{
    color: var(--full-white-text);
}

.white-text-logo:hover,
.white-text-logo:focus {
    color: var(--blue-color);
}

.footer-logo{
    display: inline-block;

    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.footer-address{
    font-style: normal;
}

/* .dev-data{    
} */

.dev-data-item:not(:last-child){
    display: block;
    margin-bottom: 9px;
}

.dev-adrress{
    padding: 5px 0;
    color: var(--full-white-text);
}

.dev-adrress:hover,
.dev-adress:focus {
    color: var(--gray-text)
}

.dev-contact{
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.6);    
}

.dev-contact:hover,
.dev-contact:focus{
    color: var(--full-white-text)
}

.conection-text{
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    
    color: var(--full-white-text);
    margin-bottom: 20px;
}

.social-item .footer-link{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
    fill: var(--full-white-text);
}

/* 
************************
* index.html styles
************************  
*/

/* ***Main sections*** */

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Hero section */
.hero{
    max-width: 1600px;    
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg.jpg);  
    background-color: #C4C4C4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .hero-content{} */


.hero-title{
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: var(--full-white-text);
}

.order-button{
    min-width: 200px;
    border-radius: var(--radius);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--full-white-text);

    background-color: var(--blue-color);

    cursor: pointer;
}

.order-button:hover,
.order-button:focus{
    background-color: #188CE8;
}

/* Benefit section */
/* .benefit{} */

.benefit-list .card-item{
    --card-numbers: 4;
}

.nearby-icon{
    display: flex;
    height: 120px;
    border-radius: var(--radius);
    align-items: center;
    justify-content: center;

    background-color: var(--gray-background);

    margin-bottom: 30px;
}

.benefit-icon{    
    width: 70px;
    height: 70px;
}

.benefit-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--gray-black-text)     
}

/* .benefit-discr{} */

/* Work list and team sections*/
.work{
    padding-top: 0;
}

.team{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--gray-background);
}

.section-title{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--gray-black-text);
}

.team-content{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .card-item{
    --card-numbers: 4;
}

.team-text{
    padding: 30px;
    text-align: center;
    
    background-color: var(--full-white-text);    
}

.team-name,
.team-position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position{
    margin-bottom: 16px;
}

.team-name{
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--gray-black-text);
}

.team-list{
    display: flex;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: var(--full-round);

    fill: var(--gray-company-color);
}

.social-link:hover,
.social-link:focus {    
    background-color: var(--blue-color);
    fill: var(--full-white-text);
}

/* .social-icon {}

.social-icon:hover,
.social-icon:focus {} */

/* Clients-list section */
.clients-list .card-item {
    --card-numbers: 6;
}

/* .clients-list{   
} */

/* .client-item{} */

.client-link{
    display: flex;
    height: 92px;
    align-items: center;
    justify-content: center;

    border: 1px solid currentColor;
    border-radius: var(--radius);
    color: var(--gray-company-color);
}

.client-link:hover,
.client-link:focus{
    color: var(--blue-color);
}

.client-icon{
    fill: currentColor;    
}


/* 
************************
* portfolio.html styles
************************  
*/

/* .portfolio{} */

/* Colection parameters for filter bottons of Portfolio page */
.filter-bottons{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}


/* Filtration buttons for portfolio */
.portfolio-buttons{
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-radius: var(--radius);
    border-color: transparent;
    
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--gray-black-text);

    background-color: var(--nearby-white);

    cursor: pointer;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus,
.active-filter{
    color: var(--full-white-text);

    background-color: var(--blue-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link{
    display: block;    
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-text{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid var(--gray-border-line);
    border-bottom: 1px solid var(--gray-border-line);
    border-left: 1px solid var(--gray-border-line);
}

.portfolio-title{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;    
    color: var(--gray-black-text);    
}

.portfolio-direction{    
    font-size: 16px;
    line-height: 1.88;    
}